.github
horusec
node_modules
images
.env
.gitignore
.gitleaks.toml
.golangci.yml
.semver.yaml
.tsuruignore
api.Dockerfile
client.Dockerfile
CONTRIBUTING.md
LICENSE.md
Makefile
Procfile
README.md
tsuru.yml
.DS_Store
.idea/
.keep
Godeps/_workspace
.GOPATH
coverage.txt
c.out
coverage.html
.env
.vagrant
horusec
dockers.env
.scannerwork/
sonar-project.properties
mongo-init.js
*.zip
.vscode
tmp/
bin
*tmp*
.horusec/