.idea
.vscode
coverage.out
charts/
bin
*tmp*
tmp/
tmp-analysis/
.env
.aws/
*.pem
deployments/certs
./images
*.srl
.horusec/
horusec-analysis-*.json
e2e/**analysis
horusec-cli/cmd/horusec/start/examples/
vendor
**/e2e/cypress/src/screenshots/**
**/e2e/cypress/src/videos/**