<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#1C1C1E" />
<meta name="description" content="HORUSEC - Admin" />

<title>HORUSEC - Admin</title>

<link rel="icon" type="image/x-icon" href="/images/favicon.svg">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">

<script type="text/javascript" src="/scripts/snackbar.js"></script>
<script type="text/javascript" src="/scripts/cookies.js"></script>
<script type="text/javascript" src="/scripts/config.js"></script>
