<div class="success-bar" id="success">
    <span>The information has been successfully saved!</span>
</div>

<div class="error-bar" id="error">
    <span>Something unexpected happened, try again.</span>
</div>
