@import './config.css';

.select-auth {
    width: 700px;
}

div.radio-group {
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


label.radio-item {
    display: flex;
    align-items: center;
}

label.radio-item  input {
    width: 20px;
    margin: 0;
    margin-right: 10px;
}

label.radio-item img {
    width: 120px;
}

div.form-gorup {
    display: none;
    flex-wrap: wrap;
    max-width: 750px;
    max-height: 300px;
    justify-content: space-between;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 20px;
    scrollbar-width: thin;
    scrollbar-color: #000;
}

div.form-gorup::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

div.form-gorup::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #3A3A3C;
}

div.form-gorup::-webkit-scrollbar-track {
    background-color: #1C1C1E;
}

div.form-gorup .divider {
    width: 300px;
}

