@import './config.css';

div#horusec_application_admin_data {
    display: none;
}

div.inputs-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}