<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/styles/config-general.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/snackbar'); %>
    <%- include('../partials/logo'); %>

    <section class="container">
        <form onsubmit="event.preventDefault();submitManagerForm()">
            <h1>
                <img src="/icons/pie.svg">
                Manager
            </h1>

            <div class="form-group">
                <div class="divider">
                    <label class="key" for="">REACT_APP_HORUSEC_ENDPOINT_API</label>

                    <span class="description">Endpoint to manager connect in the API service.</span>

                    <input id="react_app_horusec_endpoint_api" placeholder="http://127.0.0.1:8000" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">REACT_APP_HORUSEC_ENDPOINT_ANALYTIC</label>

                    <span class="description">Endpoint to manager connect in the ANALYTIC service.</span>

                    <input id="react_app_horusec_endpoint_analytic" placeholder="http://127.0.0.1:8005" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">REACT_APP_HORUSEC_ENDPOINT_ACCOUNT</label>

                    <span class="description">Endpoint to manager connect in the ACCOUNT service.</span>

                    <input id="react_app_horusec_endpoint_account" placeholder="http://127.0.0.1:8003" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">REACT_APP_HORUSEC_ENDPOINT_AUTH</label>

                    <span class="description">Endpoint to manager connect in the AUTH service.</span>

                    <input id="react_app_horusec_endpoint_auth" placeholder="http://127.0.0.1:8006" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">REACT_APP_HORUSEC_MANAGER_PATH</label>

                    <span class="description">Public path of horusec manager.</span>

                    <input id="react_app_horusec_manager_path" placeholder="/horusec" type="text">
                </div>
            </div>

            <div class="btns-wrapper">
                <button type="submit">SAVE</button>

                <button class="outline">
                    <a href="/view/home">BACK</a>
                </button>
            </div>
        </form>
    </section>
</body>

<script type="text/javascript">
window.onload = () => {
    console.log(setCurrentValues())
};
function submitManagerForm(e) {
    try {
        const react_app_horusec_endpoint_api = document.getElementById('react_app_horusec_endpoint_api').value
        const react_app_horusec_endpoint_analytic = document.getElementById('react_app_horusec_endpoint_analytic').value
        const react_app_horusec_endpoint_account = document.getElementById('react_app_horusec_endpoint_account').value
        const react_app_horusec_endpoint_auth = document.getElementById('react_app_horusec_endpoint_auth').value
        const react_app_horusec_manager_path = document.getElementById('react_app_horusec_manager_path').value

        const xhr = new XMLHttpRequest();
        xhr.open('PATCH', '/api/config', true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader('authorization', getCookie('horusec::access_token'))

        xhr.send(JSON.stringify({
            react_app_horusec_endpoint_api,
            react_app_horusec_endpoint_analytic,
            react_app_horusec_endpoint_account,
            react_app_horusec_endpoint_auth,
            react_app_horusec_manager_path
        }))

        xhr.onreadystatechange = function (ev) {
            if (ev.currentTarget.status === 204) {
                showSnackBar('success')
            } else {
                showSnackBar('error')
            }
        }
    } catch (error) {
        showSnackBar('error')
    }
}
</script>

</html>