<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/styles/config-general.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/logo'); %>

    <section class="container-general ">
        <h1>General</h1>
    </section>
</body>

<script type="text/javascript">

</script>

</html>