<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/styles/config-auth.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/logo'); %>

    <section class="container">
        <form action="">
            <h1>
                <img src="/icons/unlocked.svg">
                Authentication
            </h1>

            <div class="divider select-auth">
                <label class="key" for="">HORUSEC_AUTH_TYPE</label>

                <span class="description">Selected the provider of authentication:</span>
                
                <div class="radio-group">
                    <label class="radio-item">
                        <input id="horusec_auth_type" name="horusec_auth_type" value="horusec" type="radio" onchange="setAuthType('horusec')">
                        <img src="/images/horusec.svg">
                    </label>

                    <label class="radio-item">
                        <input name="horusec_auth_type" value="ldap" type="radio" onchange="setAuthType('keycloak')">
                        <img src="/images/keycloak.svg">
                    </label>

                    <label class="radio-item">
                        <input name="horusec_auth_type" value="keycloak" type="radio" onchange="setAuthType('ldap')">
                        <img src="/images/ldap.svg">
                    </label>
                </div>
            </div>

            <div id="keycloak-form" class="form-gorup">
                <div class="divider">
                    <label class="key" for="">HORUSEC_KEYCLOAK_BASE_PATH</label>
    
                    <span class="description">What is the keycloak connection base.</span>
    
                    <input name="horusec_keycloak_base_path" placeholder="Example: http://127.0.0.1:8080" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">HORUSEC_KEYCLOAK_CLIENT_ID</label>
    
                    <span class="description">What is the client_id that you use.</span>
    
                    <input name="horusec_keycloak_client_id" placeholder="Example: account" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">HORUSEC_KEYCLOAK_CLIENT_SECRET</label>
    
                    <span class="description">What is secret  used to client_id.</span>
    
                    <input name="horusec_keycloak_client_secret" placeholder="00000000-0000-0000-0000-000000000000" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">HORUSEC_KEYCLOAK_REALM</label>
    
                    <span class="description">What is the realm used.</span>
    
                    <input name="horusec_keycloak_realm" placeholder="Example: master" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">REACT_APP_KEYCLOAK_CLIENT_ID</label>
    
                    <span class="description">What is the Keycloak connection base for the horusec manager.</span>
    
                    <input name="react_app_keycloak_client_id" placeholder="Example: http://127.0.0.1:8080" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">REACT_APP_KEYCLOAK_REALM</label>
    
                    <span class="description">What is the client_id that you use for the horusec manager.</span>
    
                    <input name="react_app_keycloak_realm" placeholder="Example: account" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="">REACT_APP_KEYCLOAK_BASE_PATH</label>
    
                    <span class="description">What is the realm used for the horusec manager.</span>
    
                    <input name="react_app_keycloak_base_path" placeholder="Example: master" type="text">
                </div>
            </div>
            <div id="ldap-form" class="form-gorup">
                <h1>ldap</h1>
            </div>

            <div class="btns-wrapper">
                <button type="submit">SAVE</button>

                <button class="outline">
                    <a href="/home">BACK</a>
                </button>
            </div>
        </form>
    </section>
</body>

<script type="text/javascript">
function setAuthType(authType) {
   document.getElementById('horusec_auth_type').value = authType

    document.getElementById('keycloak-form').style.display = 'none'
    document.getElementById('ldap-form').style.display = 'none'

   if (authType !== 'horusec') {
        document.getElementById(`${authType}-form`).style.display = 'flex'
   }
}

</script>

</html>