<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/styles/config-auth.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/logo'); %>

    <h1>Auth</h1>
</body>

<script type="text/javascript">

</script>

</html>