<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/styles/auth.css" rel="stylesheet" />
</head>

<body>
    <section class="container">
        <img class="logo" src="/images/logo.svg" alt="Horusec Logo">

        <div class="auth-wrapper">
            <h3>Your access token will be displayed in the <span>horusec-admin</span> service logs.</h3>

            <form action="/" method="POST">
                <input type="text" id="accessToken" placeholder="Access Token" onkeyup="verifyValue()">

                <button disabled id="submit" type="submit">SUBMIT</button>
            </form>

        </div>

    </section>
</body>

<script type="text/javascript">
    function verifyValue() {
        const accessTokenInput = document.getElementById('accessToken');
        const submitButton = document.getElementById('submit');

        if (accessTokenInput.value.length > 0) {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    };
</script>

</html>