<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/styles/error.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/logo'); %>

    <section class="container">
        <img src="/images/not_found.svg" alt="Not Found">

        <h1>Error 404</h1>

        <h2>We could not find the page you are looking for.</h2>

        <button>
            <a href="/view">GO BACK</a>
        </button>
    </section>
</body>

</html>