<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1C1C1E" />
  <meta name="description" content="HORUSEC - Admin" />

  <title>HORUSEC - Admin</title>

  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">

  <link href="/styles/config-general.css" rel="stylesheet" />
</head>

<body>
  <h1>General</h1>
</body>

<script type="text/javascript">

</script>

</html>